{% extends 'base1.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Мы живем в прогрессирующем компьютерном веке. Для многих компьютер – это общение, отдых или хранение информации, для других – это работа и карьера, а для кого-то – смысл жизни и решение многих проблем. Сегодня компьютерная грамотность нужна не только для работы, она необходима и в повседневной жизни. Такая техника, как стационарный компьютер или ноутбук, есть у каждого современного человека и тем более в компании независимо от вида деятельности. Но, как известно, любая вещь имеет свою степень износа. Причины здесь могут быть разными. Если это моральный износ техники, то можно провести ее модернизацию; если это механические или другие факторы, то, скорее всего, потребуется ремонт.</p>
<br>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Каждый может столкнуться с проблемой поломки техники. Компания ООО «КомТулс» идет навстречу компьютерному пользователю. Мы предлагаем то, что Вам нужно, а не то, что нужно продать нам.</p>
<br>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Помните! Самодеятельность, проявленная в исправлении неисправностей компьютерной техники, может привести к дальнейшей поломке комплектующих или к их летальному исходу!</p>
{% endblock %}