{% extends 'base1.html' %}

{% block title %}
     Моноблоки
{% endblock %}

{% block content %}
<div class="catalog_all">
    <div style="float: left;width:100%;margin:10px;">
        <center>
            
        </center>
    </div>
    <div style="float: left;width:115%;">
        <div class="tovar-c">
<div class="tovar-d">
<a href="#" style="display: block;float: left;color:#000;text-decoration: none;width:95%;">
<img src="/static/img/catalog/MC413RS.jpg" style="float: left;width: 95%;">
<div style="float: left;width: 95%;height:105px;">
<div class="tovar-n">
<b>Apple iMac 21.5 MC413RS/A</b>
<br>
<b></b>
</div>
<div style="float:left;text-align: center;font-size: 18px;width:95%;margin-top:5px;"><b>Цена: 48000</b></div>
</div>
</a>
<div style="float: left;margin-left: 10px;margin-bottom: 10px;cursor: pointer;">
<div class="tovar-k">
<input id="tovar_kol_v_3" class="tovar_kol_v" type="text" value="10">
<div style="float: left;width: 21px;">
<div class="str1" onclick="tovar_kol('3', 'plus')">
    &nbsp;
</div>
<div class="str2" onclick="tovar_kol('3', 'minus')">
    &nbsp;
</div>
</div>
</div>
<div class="kupit_p">
        <div class="tovar-btn" id="tovar_btn_3" onclick="this.style.backgroundColor = 'green'">
<img src="/static/img/cart.png" class="kupit_img">
<div style="float: left;margin-top: 9px;margin-right:5px;margin-left: 5px;color: #fff;font-size: 23px;vertical-align:middle;">
Купить
</div>
</div>
</div>
</div>
</div>
</div>
<div class="tovar-c">
<div class="tovar-d">
<a href="#" style="display: block;float: left;color:#000;text-decoration: none;width:95%;">
<img src="/static/img/catalog/Z3730.jpg" style="float: left;width: 95%;">
<div style="float: left;width: 95%;height:105px;">
<div class="tovar-n">
<b>Acer Aspire Z3730</b>
<br>
<b></b>
</div>
<div style="float:left;text-align: center;font-size: 18px;width:95%;margin-top:5px;"><b>Цена: 30000</b></div>
</div>
</a>
<div style="float: left;margin-left: 10px;margin-bottom: 10px;cursor: pointer;">
<div class="tovar-k">
<input id="tovar_kol_v_4" class="tovar_kol_v" type="text" value="10">
<div style="float: left;width: 21px;">
<div class="str1" onclick="tovar_kol('4', 'plus')">
    &nbsp;
</div>
<div class="str2" onclick="tovar_kol('4', 'minus')">
    &nbsp;
</div>
</div>
</div>
<div class="kupit_p">
        <div class="tovar-btn" id="tovar_btn_4" onclick="this.style.backgroundColor = 'green'">
<img src="/static/img/cart.png" class="kupit_img">
<div style="float: left;margin-top: 9px;margin-right:5px;margin-left: 5px;color: #fff;font-size: 23px;vertical-align:middle;">
Купить
</div>
</div>
</div>
</div>
</div>
</div>

    </div>
    <div style="float: left;width:100%;margin:10px;">
        <center>
            
        </center>
    </div>
</div>
{% endblock %}